
.questionnaire{
    margin-top: 20px;
}
.dell{
    font-size:20px;
    border: none;
    background-color: #fff;
    color:#CC0000;
}
.container-fluid{
    margin-top: 48px;
    align-items: center;
    margin-left: 1px;
    padding:0px !important;
}
.card{
    border-color: rgba(241, 240, 240, 0.891);
    border-radius: 15px;
}
