<div class="container">
    <h5 class="text-center text-primary">Se Connecter</h5>
    <form>
        <div class="inputBox form-group">
            <label for="username"><h6>Utilisateur</h6></label>
            <input class="username form-control" type="text"  placeholder="Saisir le nom de l'utilisateur" id="Username" #user required/>
        </div>
        <div class="inputBox form-group">
            <label for="password "><h6>Mot de Passe</h6></label>
            <input class="password form-control" placeholder="Saisie le mot de passe" type="password" id="password"  #pass required/>
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-outline-primary" *ngIf="!authStatus" (click)="onSignIn(user.value,pass.value)" value="submit">Validé</button>
        </div>
    </form>
</div>

  
