<app-navigation> </app-navigation>
<div class="box">
<h5 class="text-primary"> Tapper une Remarque !!</h5> <br>
  <form>
    <div class="row">
      <div class="col form-group">
        <label for="nom"> Nom </label>
        <input type="text" class="form-control" id="nom" placeholder="Entrer votre Nom" required>
      </div>
      <div class="col form-group">
        <label for="prenom"> Prénom </label>
        <input type="text" class="form-control" id="prenom" placeholder="Entrer votre Prénom" required>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
        <label for="remarque"> Votre Remarque </label>
        <textarea class="form-control" rows="5" id="remarque"></textarea>
      </div>
    </div>
    <div class="form-group">
    <a href="mailto:hadjhassinejawher@gmail.com" class="btn btn-block btn-info">Envoyé</a>
    </div>
  </form>
</div>
