<nav class="navbar navbar-expand-lg " >
    <a class=" col-4 navbar-brand" href="http://www.devolution-studio.com/" > DéVolutionStudio </a>
    <div class="  collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="col-3 nav-item ">
          <a [routerLink]="['/questionnaireliste']" routerLinkActive="router-link-active"  class="nav-link" >Acceuil</a>
        </li>

        <li class=" col-4 nav-item">
          <a [routerLink]="['/ajoutquestionnaire']" routerLinkActive="router-link-active"  class="nav-link" >Questionnaire</a>
        </li>

        <li class=" col-10 nav-item">
          <a [routerLink]="['/contacternous']" routerLinkActive="router-link-active"  class="nav-link" >Contacter Nous</a>
        </li>

        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/login']" routerLinkActive="router-link-active" >Déconnecter</a>
        </li>
      </ul>
    </div>
</nav>

